header{
    background-color:blue;
    color:white;
}

.container{
    background-color:lightgray; 
    color: black;
}
#id0{
    color: red;
}
#id1{
    color:green
} 

.highlight{
    color:green
}

.main-content{
    background-color: yellow;
}

#id3{
    text-align: center;
}

a{
    text-decoration: none;
}

.headings{
text-decoration-line: underline;
text-decoration-style: dashed;
}

.bold-text{
    font-weight: bold;
}

#intro{
    font-weight: 300;
}

footer{
    font-weight: 300;
}

body{
    font-family: Arial, sans-serif;
}

.custom-font{
    font-family: Times New Roman, serif;
}

#h4{
    text-transform: uppercase;
}

.capitalize-text{
    text-transform: capitalize;
}